{% extends 'flatpages/default.html' %}
{% load my_filters %}

{% block title %}
News
{% endblock title %}


{% block content %}
   <h1><span style="text-decoration: underline;"><strong>НОВОСТИ</strong></span></h1>
   <h3>{{ time_now|date:'d M Y' }}</h3>
   <h3>Всего новостей: {{ news|length }}</h3>
   <hr>
   {% if news %}
       <table style="margin-left: auto; margin-right: auto;">
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Новость</td>
               {% if perms.news.change_post or perms.news.delete_post %}
               <td>Действия</td>
               {% endif %}
           </tr>

           {% for news_copy in news %}
           <tr>
               <td>{{ news_copy.title|censor }}</td>
               <td>{{ news_copy.createDate|date:'d M Y' }}</td>
               <td>{{ news_copy.text|truncatewords:20|censor }}</td>

               <td>
                    {% if perms.news.change_post %}
                    <a href="{% url 'post_edit' pk=news_copy.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'post_delete' pk=news_copy.id %}">Удалить</a>
                    {% endif %}
                </td>



           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}


 {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
